# -*- coding: utf-8 -*-
"""Module with sensitive data and credentials.

Notes
-----
- Keep content in secret.
- For production substitute placeholders with real credentials.

"""
__version__ = '0.1.0'
__status__ = 'Beta'
__author__ = 'Libor Gabaj'
__copyright__ = 'Copyright 2019, ' + __author__
__credits__ = []
__license__ = 'MIT'
__maintainer__ = __author__
__email__ = 'libor.gabaj@gmail.com'

# Data source
source_db_user = '<myuser>'
source_db_password = '<mypassword>'

# Data target
target_db_user = '<myuser>'
target_db_password = '<mypassword>'
